/* Estilos para los elementos específicos */
/* 
            'oscuro': '#181A20',
            'medio': '#2B313A',
            'claro': '#848E9C',
            'amarillo': '#EFB90D',
*/
.news-item {
    margin: 30px;
    background-color: #181A20;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ffffff;
}

.news-title {
    font-size: 24px;
    color: #f8f8f8; /* Azul */
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.news-author {
    color: #cacaca; /* Gris */
    font-style: italic;
    margin-bottom: 5px;
}

.news-description {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff; 
}

.news-content {
    font-size: 16px;
    line-height: 1.5;
    color: #e2d9d9; 
    margin-bottom: 20px;
}

.news-image {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.news-link {
    color: #007bff; /* Azul */
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}

.item {
    display: grid;
    place-items: center;
    margin-bottom: 10svh;
    
    --filter: drop-shadow(0 0 10px #000);
    
     @supports(animation-timeline:view()) {
      view-timeline-name: --img-timeline;
      animation: move-and-fade both;
      animation-timeline: view(y);
      animation-range: cover 0% cover 120%;
    }
  }
  
  .item > img {
    width: 80svh;
    height: 80svh;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    @supports(animation-timeline:view()) {
      view-timeline-name: --img-timeline;
      animation: clippy both;
      animation-timeline: view(y);
      animation-range: cover 0% cover 120%;
    }
  }
  #backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px; /* Ajusta el ancho según necesites */
    height: 40px; /* Ajusta la altura según necesites */
    background-color: #2B313A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px; /* Ajusta el radio de borde según necesites */
    font-size: 16px; /* Ajusta el tamaño de fuente según necesites */
    cursor: pointer;
    z-index: 1000;
}

#backToTop:hover {
    background-color: #EFB90D;
    color: black;
}
  @keyframes move-and-fade {
    from, to {
      filter: var(--filter) blur(100px) saturate(20);
    }
    
    45%, 65% {
      filter: var(--filter) blur(0) saturate(1);
      transform: rotateY(0deg);
    }
  }
  
  @keyframes clippy {
    from {
      clip-path: var(--clip-i);
    }
    
    to {
      clip-path: var(--clip-f);
    }
  }
  

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .news-item {
        padding: 15px;
    }

    .news-title {
        font-size: 20px;
    }

    .news-description {
        font-size: 16px;
    }

    .news-content {
        font-size: 14px;
    }
}